@font-face {
  font-family: indieFlower;
  src: url("../../assets/IndieFlower.ttf");
}

#bubbleWindowContainer {
    height: 90%;
    width: 55%;
    border-right: 4px solid black;
}

#bubbleWindowButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-right: 4px solid black;
}
