@import "../Common";

/* Think about copying into a global css file for all pages */
@font-face {
  font-family: indieFlower;
  src: url("../../assets/IndieFlower.ttf");
}


#homePage {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: indieFlower;
    font-size: 1.3em;

}

#homeHeader {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}


#homeBody {

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 100%; 
    height: 100%;

}

#toLoginButton {
    margin: 0.5em;
    color: black;
    background-color: #A3C4F3;

}

#knowMore {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30vh;
}

#knowMoreText {
    padding: 0em;
    margin: 0em;
}

#sessionJoinInput {
    margin-top: 1em;
    margin-bottom: 2em;
    width: 50%;
}

#sessionCreateButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
}

